<div fxLayout="column" class="register-formbox" layout-align="center center" fxLayoutAlign="center center">
    <div fxLayout="column" class="form-block">
        <div class="title-block">
            <h3 class="title-list-items-text">{{ "REGISTER" | translate }}</h3>
            <a class="md-icon-button md-accent register-form-button-close" routerLink="/auth">
                <md-icon class="register-form-close-icon">close</md-icon>
            </a>
        </div>
        <form [formGroup]="userRegisterFormGroup" (ngSubmit)="registerUser()" fxLayout="column">
            <div *ngIf="error" class="error"> {{error | translate }} </div>
            <div *ngIf="success" class="success"> {{success | translate }} </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput class="user-text-label" formControlName="uname" [(ngModel)]="userName" placeholder="{{'USER NAME' | translate }}" required> </md-input-container>
                <div *ngIf="userRegisterFormGroup.controls.uname.invalid && userRegisterFormGroup.controls.uname.touched">
                    <div ng-message="required" fxLayoutAlign="end start">
                        <p class="error-message">{{ "User Name is invalid" | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput name="email" class="user-text-label" placeholder="{{'EMAIL' | translate }}" formControlName="email" [(ngModel)]="email"> </md-input-container>
                <div *ngIf="userRegisterFormGroup.controls.email.invalid && userRegisterFormGroup.controls.email.touched" role="alert">
                    <div ng-message="required" fxLayoutAlign="end start">
                        <p class="error-message">{{ "Enter your email" | translate }}.</p>
                    </div>

                </div>
            </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="password" class="user-text-label" formControlName="password" [(ngModel)]="password" placeholder="{{'PASSWORD' | translate }}" password-validator required>
                </md-input-container>
                <div *ngIf="userRegisterFormGroup.controls.password.invalid && userRegisterFormGroup.controls.password.touched" role="alert">
                    <div ng-message="required" fxLayoutAlign="end start">
                        <p class="error-message">{{ "Invalid Password, (Must be 8 characters)" | translate }}</p>
                    </div>
                </div>
            </div>
            <!-- terms and conditions check box -->
            <div class="form-group">
                <section class="removecenter">
                    <md-checkbox color="primary" (change)="termsAndConditionsChanged()" formControlName="termAndConditions" [required]><span>I agree with the <a>Terms and Conditions</a></span></md-checkbox>
                </section>
                <!--<div *ngIf="userRegisterFormGroup.controls.termAndConditions.invalid" role="alert">
                    <div ng-message="required" fxLayoutAlign="end start">
                        <p class="error-message">{{ "MUST ACCEPT OVER TERMS AND CONDITIONS" | translate }}.</p>
                    </div>
                </div>-->
            </div>
            <button md-raised-button class="md-button-register-form" [disabled]="!userRegisterFormGroup.valid" type="submit"> {{'REGISTER' | translate }} </button>
            <button md-raised-button class="md-button-forgotten-pass" routerLink="/auth/forgot-password">
                <p class="register-form-text-label-pass">{{ "FORGOT PASSWORD?" | translate }}</p>
            </button>
        </form>
    </div>
</div>


<!--
        <div fxLayout="row" fxLayoutAlign="end center">
           <div fxLayout="row" fxLayoutAlign="center start">
                    <p class="title-list-items-text">Register</p>
                </div>
            <a class="md-icon-button md-accent register-form-button-close" routerLink="/auth">
                <md-icon class="register-form-close-icon">close</md-icon>
            </a>
        </div>
-->
<!--
                <div *ngIf="error" class="title-list-items-text error">
                    {{error}}
                </div>
                <div *ngIf="success" class="title-list-items-text success">
                    {{success}}
                </div>
-->
<!--
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput class="user-text-label" placeholder="Username" formControlName="uname" [(ngModel)]="userName" required>
                </md-input-container>
                <div *ngIf="userRegisterFormGroup.controls.uname.invalid && userRegisterFormGroup.controls.uname.touched">
                    <div fxLayout="row" fxLayoutAlign="end start">
                        <p class="error-message">Enter your username.</p>
                    </div>
                </div>
-->
<!--
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="email" class="user-text-label" formControlName="email" [(ngModel)]="email" placeholder="Email" required>
                </md-input-container>
                <div> 
                    <div ng-message="email" fxLayoutAlign="end start" *ngIf="userRegisterFormGroup.controls.email.invalid && userRegisterFormGroup.controls.email.touched">
                        <p class="error-message">Email is invalid.</p>
                    </div>
                </div>
-->
<!--
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="password" class="user-text-label" formControlName="password" [(ngModel)]="password" placeholder="Password" password-validator required>
                </md-input-container>
                <div *ngIf="userRegisterFormGroup.controls.password.invalid && userRegisterFormGroup.controls.password.touched" role="alert">
                    <div ng-message="required" fxLayoutAlign="end start">
                        <p class="error-message">Enter your password.</p>
                    </div>
                </div>
-->
<!-- Register Button -->
<!--
                <div class="info-container-button-reg-form" fxLayout="row" fxLayoutAlign="center center" fxflex>
                    <button md-button class="md-button-register-form" [disabled]="!userRegisterFormGroup.valid" type="submit">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <p class="md-button-register-form-text"><em>REGISTER</em>
                  </p>
                </div>
              </button>
                </div>
-->
<!-- forgot password -->
<!--
            <div fxLayout="row" fxLayoutAlign="center end">
                <button md-button class="md-button-forgotten-pass" routerLink="/auth/forgot-password">
                <p class="register-form-text-label-pass">Forgotten Password?</p>
              </button>
                <div ng-show="error" class="text-center text-danger"> <strong ng-bind="error"></strong>
                </div>
                <div ng-show="success" class="text-center text-success"> <strong ng-bind="success"></strong>
                </div>
            </div>
-->