:host{ width: 100%; }
.mat-raised-button {
    background: transparent;
    box-shadow: none;
}

.login-box {
    background-color: lightcyan;
}
 
.fb-button:hover,
.fb-button:active,
.fb-button:focus {
    box-shadow: none;
}

.register-div {
    margin-top:180px;
}

.register-div .fb-button {
    background-color: #415e9b;
    color: white;
    height: 60px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.50px;
    margin-bottom: 20px;
    width:100%;
}

.li-full-width { width: 100%; }


.register-div .registerbtn {
    color:#fff;
    float:left;
}
.register-div .loginbtn {
    color:#fff;
    float:right;
}

.register-div .error {
    color:#fff;
    margin-bottom: 10px;
}

@media screen and (max-width:991px) {
    .register-div {padding-right:50px;}
    .register-div .fb-button { font-size:14px; height:55px; width:100%; }
    
}

@media screen and (max-width:599px) {
    .register-div { margin-top:50px; width:100%; padding-right: 0px; }
    .register-div .fb-button { width:80%; }
    .li-full-width { width: 80%; }
 
}
