:host {
    width: 100%;
}

html {
    font-family: Montserrat, sans-serif !important;
}

.mat-raised-button {
    background: transparent;
    box-shadow: none;
}

.login-box {
    background-color: lightcyan;
}

.fb-button:hover,
.fb-button:active,
.fb-button:focus {
    box-shadow: none;
}

.register-div {
    margin-top: 50px;
}

.register-div .fb-button {
    background-color: #415e9b;
    color: white;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.50px;
    margin-bottom: 20px;
    width: 250px;
}

.register-div .fb-button span {
    margin-left: 15px !important;
}

.li-full-width {
    width: 100%;
}

.register-div .registerbtn {
    background-color: #ffffff;
    color: #000000;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.50px;
    margin-bottom: 20px;
    width: 250px;
}

.register-div .loginbtn {
    background-color: #000000;
    color: #ffffff;
    height: 40px;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    letter-spacing: 0.50px;
    margin-bottom: 20px;
    width: 250px;
}

.register-div .error {
    color: #fff;
    margin-bottom: 10px;
}

.center-right {
    float: right;
    margin-top: 10px;
}

.isVisible {
    visibility: hidden;
}

@media screen and (max-width:991px) {
    .register-div {
        margin-top: 100px;
    }
    .register-div .fb-button {
        font-size: 14px;
        height: 40px;
        width: 250px;
    }
}

@media screen and (max-width:599px) {
    .register-div {
        margin-top: 100px;
        width: 100%;
    }
    .register-div .fb-button {
        width: 250px;
    }
    .li-full-width {
        width: 80%;
    }
}