<!--
<div fxLayout="row" fxHide.gt-xs fxFlex.xs="50" class="teem-logo-home" fxLayoutAlign="center center" fxHide.xs>
    <img src="assets/img/logo.png" class="logo" alt="">
</div>
-->

<!--<div fxLayout="column" fxFlex.xs="50" fxLayoutAlign="center center" class="register-div home_main">-->
<!--<button md-raised-button class="md-facebook-button facebook-home-button" ng-click="authController.callOauthProvider('/api/auth/facebook')"></button>-->

<div fxLayout="column" fxFlexOffset.xs="0" fxFlex.xs="100" fxLayoutAlign="start center" class="register-div">
    <div *ngIf="error" class="error">{{error}}</div>
    <!--<button md-raised-button class="md-facebook-button facebook-home-button" (click)="callFbLogin()">
             
    </button>-->
    <button md-raised-button class="fb-button" (click)="callFbLoginOAuth()"> {{ 'LOGIN WITH FACEBOOK' | translate }} </button>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <button md-raised-button class="registerbtn" routerLink="register"> {{ 'REGISTER' | translate }} </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <button md-raised-button class="loginbtn" routerLink="login"> {{ 'LOG IN' | translate }} </button>
    </div>
    <!-- new fb button -->
</div>
<!--<button md-raised-button (click)="mfbLogout()">  Login with Facebook</button>-->