<div class="detail-box">
    <div class="title-list-items">
        <p class="title-list-items-text"> <i class="material-icons">search</i> FIND MATCH</p>
    </div>
    <div class="find-match-main">
        <div class="my-from" fxFlex="100">
            <div *ngIf="error" class="error"> {{error}} </div>
            <div *ngIf="success" class="success"> {{success}} </div>
            <div fxLayout="column" fxFlex="100" class="form-group date">
                <div fxLayout="row">
                    <label fxLayoutAlign="left center" fxFlex="15">{{'CITY' | translate }}</label>
                    <md-input-container class="md-block register-form-text-area" md-no-float fxFlex="85"> <i class="material-icons" (click)="getAndSetLocation()">gps_fixed</i>
                        <input id="pac-input" mdInput class="controls user-text-label" [ngModelOptions]="{standalone: true}" [(ngModel)]="cityName" required>
                        <!--(keyup.enter)="getLatLongByCityName()"-->
                    </md-input-container>
                </div>
            </div>
            <div fxLayout="column" fxFlex="100" class="form-group date">
                <div fxLayout="row">
                    <label fxLayoutAlign="left center" fxFlex="15">Sport</label>
                    <md-radio-group [(ngModel)]="sport" (change)="onSportChange()">
                        <md-radio-button *ngFor="let sp of sportOptions" [value]="sp.id">
                            <div class="span-white">
                                <md-icon class="material-icons md-48" svgIcon={{sp.title}}></md-icon>
                            </div>
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
        </div>
        <div class="my-map" fxFlex="100" style="height: 230px; width: 100%;">
            <div id="nearByMap"></div>
        </div>
    </div>
</div>
<div fxLayout="column" fxLayoutAlign="start start" class="detail-box">
    <div class="title-list-items">
        <p class="title-list-items-text"> <i class="material-icons">chat_bubble</i> {{'NEXT MATCH' | translate }}</p>
    </div>
    <div fxLayout="column" class="detail-listing">
        <md-list class="nopadding ng-scope" *ngFor=" let match of nearByMatch; let i = index;">
            <div *ngIf="match.displayDate" class="md-toolbar-tools" layout-align="start start" class="md-list-header">
                <p class="md-list-event-date"> <em> <span>{{match.filteredMatchDate}}</span> </em> </p>
            </div>
            <md-list-item class="md-3-line" [class.even]="(i % 2)==0" [class.odd]="(i % 2)!=0">
                <div class="md-list-item-text" ng-class-odd="'odd'" ng-class-even="'odd'">
                    <div fxHide.gt-xs fxLayout="row" fxFlex="100">
                        <div fxLayoutAlign="center center" fxFlex="20" class="match-time center">
                            <!--<a><img src="../../assets/img/sidebar_photo.png" alt="" class="user-img-icon"></a>-->
                            <a *ngIf="match.userdetail[0]" [mdMenuTriggerFor]="profilePopupMenu"><img src="{{PROFILE_IMAGE_PATH+match.userdetail[0].profileimage}}" alt="" class="user-img-icon"></a>
                        </div>
                        <div fxLayout="column" fxFlexOffset="2" fxLayoutAlign="center start" fxFlex="58" [routerLink]="['/match-details',match._id]">
                            <p class="md-list-event-hour datetime"><b>{{match.filteredMatchTime}}</b> </p>
                            <p class="md-list-event-hour"><b>{{match.sportdetail[0].title}}</b> </p>
                            <p *ngIf="match.sportcenterdetail[0]"><b style="margin:2px 0px;">{{match.sportcenterdetail[0].address}}</b></p>
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="20" class="match-time left">
                            <p><b style="margin:2px 0px; display: block;">{{match.matchplayercount}} DE {{match.subsportdetail[0].value*2}} </b> <b style="margin:2px 0px; display: block;">€{{match.price}} </b> </p>
                        </div>
                    </div>
                    <div fxHide.xs fxLayout="row" fxFlex="100">
                        <div fxLayout="row" fxFlex="20" fxLayoutAlign="center center" class="datetime"> <i class="material-icons play-arrow-icon">play_arrow</i>
                            <p class="md-list-event-hour"><b>{{match.filteredMatchTime}}</b> </p>
                        </div>
                        <div fxLayout="column" fxFlex="15">
                            <p class="md-list-event-hour"><b>{{match.sportdetail[0].title}}</b> </p>
                            <p style="font-size:10px !important; margin:2px 0px;"><b>Created by</b> </p>
                            <p *ngIf="match.userdetail[0]" style="font-size:10px !important"><b>{{match.userdetail[0].username}}</b> </p>
                        </div>
                        <div fxFlex="15" class="match-time center">
                            <a *ngIf="match.userdetail[0]" [mdMenuTriggerFor]="profilePopupMenu"><img src="{{PROFILE_IMAGE_PATH+match.userdetail[0].profileimage}}" alt="" class="user-img-icon"></a>
                        </div>
                        <div fxFlex="25" class="match-time left">
                            <p *ngIf="match.sportcenterdetail[0]"><b style="margin:2px 0px; display: block;">{{match.sportcenterdetail[0].address}} </b> <b style="margin:2px 0px; display: block;"><!-- some addr --> </b> </p>
                        </div>
                        <div fxFlex="10" class="match-time left">
                            <p><b style="margin:2px 0px; display: block;">{{match.matchplayercount}} DE {{match.subsportdetail[0].value*2}} </b> <b style="margin:2px 0px; display: block;">€{{match.price}} </b> </p>
                        </div>
                        <div fxLayoutAlign="center center" fxFlex="15" class="match-time center">
                            <button md-raised-button [routerLink]="['/match-details',match._id]">Info</button>
                        </div>
                        <md-menu #profilePopupMenu="mdMenu">
                            <div *ngIf="match.userdetail[0]">
                                <h4>{{match.userdetail[0].username}}</h4>
                                <p *ngIf="match.userdetail[0].city"><i class="material-icons">location_on</i>{{match.userdetail[0].city}}</p>
                                <a *ngIf="checkSport(1,match.userdetail[0].sports)"><img src="/assets/img/b01.png"></a>
                                <a *ngIf="checkSport(2,match.userdetail[0].sports)"><img src="/assets/img/b02.png"></a>
                                <a *ngIf="checkSport(3,match.userdetail[0].sports)"><img src="/assets/img/b03.png"></a>
                            </div>
                        </md-menu>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </div>
</div>