.detail-box {
    margin-bottom: 20px;
    background-color: #f4f4f4;
    padding: 10px 0px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.title-list-items {
    width: 100%;
    overflow: visible;
    padding: 0px 30px;
}


/****  Title CSS  *****/

.title-list-items-text {
    color: #c61315;
    font-weight: bold;
    margin-bottom: 2px;
    display: block;
    vertical-align: middle;
    padding: 5px 0px 10px;
    position: relative;
    font-style: italic;
    text-transform: uppercase;
}

.title-list-items-text:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    background: #c61315;
    height: 2px;
    width: 100%;
    display: block;
}

.title-list-items-text i {
    display: inline-block;
    vertical-align: middle;
}


/**************/

.find-match-main {
    width: 100%;
    padding: 0px 30px;
}

.next-line {
    display: block;
}

.btn-white {
    background-color: #fff;
    border-radius: 10px;
    vertical-align: middle;
}

.span-white {
    display: inline-block;
    height: 48px;
    width: 48px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.material-icons.md-48 {
    display: inline-block;
    height: 36px;
    width: 36px;
    vertical-align: middle;
    // margin: 0 auto;
}


/* google map */

#nearByMap {
    height: 100%;
    // width: 100%;
}