<!--fxFlexOffset="column"-->
<!--fxFlex="100" fxLayout.sm="column" fxLayout.xs="column"-->
<div class="main-padding clearfix" fxFlex="100" fxLayout.sm="column" fxLayout.xs="column">
    <!--<div *ngIf="error" class="error"> {{error}} </div>
        <div *ngIf="success" class="success"> {{success}} </div>-->
    <!--<div fxLayout.sm="column" fxLayout.xs="column" fxLayout="row" fxFlex="100">-->
    <div class="user-image-block" fxLayout.sm="column" fxLayout.xs="column" fxLayout="row" fxFlex="100">
        <div class="example-section example-margin text-center">
            <button md-raised-button (click)="profileDialog()" class="user-pic-btn">
                <div class="overlay">
                    <div class="edit-img"></div>
                </div> <img src="{{imgSrc}}" class="user-img"></button>
        </div>
    </div>
    <div fxLayout.sm="column" fxLayout.xs="column" fxLayout="row" fxFlex="100">
        <form [formGroup]="profile" novalidate>
            <div class="example-section example-margin">
                <div fxLayout="column" class="form-group" fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column">
                        <label for="" fxLayoutAlign="left center" fxFlex="30">Firstname</label>
                        <md-input-container class="md-block register-form-text-area" fxFlex="70" md-no-float>
                            <input mdInput formControlName="firstname" class="user-text-label"> </md-input-container>
                    </div>
                    <div *ngIf="firstname.touched">
                        <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                            <p *ngIf="firstname.hasError('required')" class="error-message">Firstname is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-section example-margin">
                <div fxLayout="column" class="form-group" fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column">
                        <label for="" fxLayoutAlign="left center" fxFlex="30">Lastname</label>
                        <md-input-container class="md-block register-form-text-area" fxFlex="70" md-no-float>
                            <input mdInput formControlName="lastname" class="user-text-label"> </md-input-container>
                    </div>
                    <div *ngIf="lastname.touched">
                        <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                            <p *ngIf="lastname.hasError('required')" class="error-message">Lastname is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-section example-margin">
                <div fxLayout="column" class="form-group" fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column">
                        <label for="" fxLayoutAlign="left center" fxFlex="30">Date of birth</label>
                        <md-input-container class="md-block register-form-text-area" fxFlex="70" md-no-float>
                            <!--<input mdInput type="date"   id="fromDate" formControlName="dob" name="bod" class="user-text-label datepicker" > </md-input-container>-->
                             <input mdInput type="date"  id="fromDate"  formControlName="dob" [ngModel]="birthdate | date:'yyyy-MM-dd'" (ngModelChange)="birthdate = $event" class="user-text-label datepicker" > </md-input-container>
                    </div>
                </div>
            </div>
            <div class="example-section example-margin">
                <div fxLayout="column" class="form-group" fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column">
                        <label for="" fxLayoutAlign="left center" fxFlex="30">City</label>
                        <md-input-container class="md-block register-form-text-area" fxFlex="70" md-no-float>
                            <input mdInput id="city" formControlName="city" [(ngModel)]="selectedCity" class="user-text-label"> </md-input-container>
                    </div>
                    <div *ngIf="city.touched">
                        <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                            <p *ngIf="city.hasError('required')" class="error-message">City is required</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-section example-margin">
                <div fxLayout="column" class="form-group clearfix" fxFlex="100">
                    <div class="description">
                        <div fxLayoutAlign="start start" fxLayout="row" fxLayout.xs="column">
                            <label for="" fxLayoutAlign="left center" fxFlex="30">Description</label>
                            <md-input-container class="md-block register-form-text-area" fxFlex="70" md-no-float>
                                <textarea mdInput formControlName="description" class="user-text-label"> </textarea>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-section example-margin">
                <div fxLayout="column" class="form-group" fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column">
                        <label for="" fxLayoutAlign="left center" fxFlex="30">Choose game</label>
                        <div class="md-block register-form-text-area" fxFlex="70" md-no-float>
                            <div class="example-section">
                                <md-checkbox class="example-margin mat-checkbox-btn" formControlName="all" [checked]="checked" [(ngModel)]="allVal" (change)="sportAllSelect()">All</md-checkbox>
                                <md-checkbox class="example-margin mat-checkbox-btn" formControlName="basketball" [(ngModel)]="basketballVal" (change)="sportSelect('basketball')">Basketball</md-checkbox>
                                <md-checkbox class="example-margin mat-checkbox-btn" formControlName="soccer" [(ngModel)]="soccerVal" (change)="sportSelect('soccer')">Soccer</md-checkbox>
                                <md-checkbox class="example-margin mat-checkbox-btn" formControlName="paddle" [(ngModel)]="padelVal" (change)="sportSelect('paddle')">Padel</md-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-section example-margin">
                <button md-raised-button color="primary" class="creatematch mat-raised-button" [disabled]="!profile.valid" (click)="formSubmit()">Save</button>
            </div>
        </form>
    </div>
    <!--</div>-->
</div>