<div class="addpitchwrapper">
    <!-- error -->
    <div *ngIf="error" class="error">
        <p>{{error}}</p>
    </div>
    <div *ngIf="success" class="success">
        <p>{{success}}</p>
    </div>
    <div fxFlex="100" class="title-list-items">
        <p class="title-list-items-text"> <i class="material-icons">flag</i> {{'FIELDS' | translate }}</p>
        <button md-raised-button (click)="addMore()">{{'ADD FIELDS' | translate}}</button>
    </div>
    <div *ngFor="let p of pitches;let i = index" class="single-form">
        <form [formGroup]="pitchFormGroupArray[i]" (click)="formChanged()" (keyup)="formChanged()" (change)="formChanged()" fxLayout="column">
            <!-- Name -->
            <!--<button md-mini-fab (click)="removePitch(i)" class="closee">
                <md-icon>close</md-icon>
            </button>-->
            <div class="form-group">
                <div fxLayout="row" fxFlex="100" fxLayout.xs="column">
                    <label for="" fxLayoutAlign="left center" fxFlex="15" fxFlex.xs="20">{{'NAME' | translate}}</label>
                    <md-input-container class="md-block" fxFlex.xs="80">
                        <input mdInput class="user-text-label" formControlName="name" [(ngModel)]="p.name" required> </md-input-container>
                </div>
                <div *ngIf="pitchFormGroupArray[i].controls.name.invalid && pitchFormGroupArray[i].controls.name.touched">
                    <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                        <p class="error-message">{{'NAME IS INVALID' | translate}}</p>
                    </div>
                </div>
            </div>
            <!-- Covering -->
            <div class="form-group covering">
                <div fxLayout="row" fxFlex="100" fxLayout.xs="column">
                    <label for="" fxLayoutAlign="left center" fxFlex="15" fxFlex.xs="20">{{'COVERING' | translate }}</label>
                    <md-radio-group fxLayoutAling="left center" fxFlex="85" fxFlex.xs="80" class="md-block" formControlName="covering" [(ngModel)]="p.covering" aria-label="Covering" required>
                        <md-radio-button value="Outdoor">{{'OUTDOOR' | translate}}</md-radio-button>
                        <md-radio-button value="Indoor">{{'INDOOR' | translate}}</md-radio-button>
                        <md-radio-button value="Outdoor/Indoor">{{'OUTDOOR/INDOOR' | translate}}</md-radio-button>
                    </md-radio-group>
                </div>
                <div *ngIf="pitchFormGroupArray[i].controls.covering.invalid && pitchFormGroupArray[i].controls.covering.touched">
                    <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                        <p class="error-message">{{'COVERING IS INVALID' | translate}}</p>
                    </div>
                </div>
            </div>
            <!-- Lights -->
            <div class="form-group lights">
                <div fxLayout="row" fxFlex="100" fxLayout.xs="column">
                    <label for="" fxLayoutAlign="left center" fxFlex="15" fxFlex.xs="20">{{'LIGHTS' | translate}}</label>
                    <md-radio-group fxFlex="85" fxFlex.xs="80" class="md-block" formControlName="lights" [(ngModel)]="p.lights" required>
                        <md-radio-button [value]="'yes'">Yes</md-radio-button>
                        <md-radio-button [value]="'no'">No</md-radio-button>
                    </md-radio-group>
                </div>
                <div *ngIf="pitchFormGroupArray[i].controls.lights.invalid && pitchFormGroupArray[i].controls.lights.touched">
                    <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                        <p class="error-message">{{'LIGHTS IS INVALID'}}</p>
                    </div>
                </div>
            </div>
            <!-- Surface -->
            <div class="form-group">
                <div fxLayout="row" fxFlex="100" fxLayout.xs="column">
                    <label for="" fxLayoutAlign="left center" fxFlex="15" fxFlex.xs="20">{{'SURFACE' | translate}}</label>
                    <md-select fxFlex="100" fxFlex.xs="80" class="md-block" formControlName="surface" [(ngModel)]="p.surface" required>
                        <md-option *ngFor="let so of surfaceOptions" [value]="so.value"> {{ so.viewValue | translate }} </md-option>
                    </md-select>
                </div>
                <div *ngIf="pitchFormGroupArray[i].controls.surface.invalid && pitchFormGroupArray[i].controls.surface.touched">
                    <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                        <p class="error-message">{{'SURFACE IS INVALID'| translate }}</p>
                    </div>
                </div>
            </div>
            <!-- Sports -->
            <!--<div class="form-group">
                <div fxLayout="row" fxFlex="100" fxLayout.xs="column">
                    <label for="" fxLayoutAlign="left center" fxFlex="15" fxFlex.xs="20">Sports</label>
                    <md-select fxFlex="100" fxFlex.xs="80" class="md-block" formControlName="sports" [(ngModel)]="p.sport" required>
                        <md-option *ngFor="let sport of sportOptions" [value]="sport.sportkey"> {{ sport.sporttitle }} </md-option>
                    </md-select>
                </div>
                <div *ngIf="pitchFormGroupArray[i].controls.sports.invalid && pitchFormGroupArray[i].controls.sports.touched" style="width:100%;">
                    <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                        <p class="error-message">Sports is invalid</p>
                    </div>
                </div>
            </div>-->

            <!-- My Sports -->
            <div class="form-group">
                <div fxLayout="row" fxFlex="100" fxLayout.xs="column">
                    <label for="" fxLayoutAlign="left center" fxFlex="15" fxFlex.xs="20">{{'SPORTS' | translate}}</label>
                    <div fxFlex="100">
                        <div *ngFor="let mySport of p.sport;let si = index" fxLayout.xs="column" fxLayout="row" class="pitch-sport">
                            <md-select fxFlex="50" fxFlex.xs="10" class="md-block" [(ngModel)]="p.sport[si]" [ngModelOptions]="{standalone: true}" required>
                                <md-option *ngFor="let ms of sportOptions" [disabled]="ms.isDisabled" [value]="ms.value"> {{ ms.viewValue | translate}} {{ms.viewValue2}} </md-option>
                            </md-select>
                            <a *ngIf="si != 0" href="javascript:void(0)" (click)="p.sport.splice(si, 1)">remove</a>
                        </div>
                    </div>
                </div>
                <button md-raised-button (click)="addSportFeild(i)" fxLayoutAlign="left center" fxFlexOffset="11" fxFlexOffset.xs="0" fxFlexOffset.sm="0">+ {{'ADD A SPORT' | translate}}</button>
            </div>


            <!-- Price -->
            <div class="form-group price">
                <div fxLayout="row" fxFlex="100" fxLayout.xs="column">
                    <label for="" fxLayoutAlign="left center" fxFlex="15" fxFlex.xs="20">{{'PRICE' | translate}}</label>
                    <md-input-container fxFlex="100" fxFlex.xs="80" class="md-block">
                        <span></span>
                        <input mdInput type="number" class="user-text-label" formControlName="price" [(ngModel)]="p.price" required> </md-input-container>
                </div>
                <div *ngIf="pitchFormGroupArray[i].controls.price.invalid && pitchFormGroupArray[i].controls.price.touched">
                    <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                        <p class="error-message">{{'PRICE IS INVALID' | translate}}</p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="save-btn">
        <button md-raised-button [disabled]="!isFormValid" (click)="SavePitch()">{{'SAVE' | translate}}</button>
    </div>
    <!--<button md-raised-button *ngIf="pitchFormGroupArray.length<=0 && deleteData.lenght>=1" (click)="SavePitch()">Delete All</button>-->
    <!--{{covering}} {{lights}}{{surface}}{{sports}}{{price}}-->
</div>