<div class="main-padding">
    <div class="example-section example-margin">
        <p class="user-text-label-account">{{'CHANGE AND CONFIRMATION OF EMAIL ADDRESS' | translate}}
            <br>{{'IF THE EMAIL ADDRESS IS CHANGED, A CONFIRMATION EMAIL WILL BE SENT AND IT WILL BE VALID DURING NEXT 24 HOURS' | translate}}.</p>
    </div>
    <form [formGroup]="accountFormGroup" (ngSubmit)="emailSave()" novalidate>
        <div class="example-section example-margin">
            <div fxLayout="column" class="form-group" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="top left">
                    <!--<label for="" fxLayoutAlign="left center" fxFlex.xs="20" fxFlex="25" class="no-margin">{{EMAIL | translate}}</label>-->
                    <md-input-container class="md-block register-form-text-area" [class.red-border]="accountFormGroup.invalid && accountFormGroup.touched" fxFlex.xs="55" fxFlex="50" md-no-float>
                        <input mdInput formControlName="email" class="user-text-label"> </md-input-container>
                    <button md-raised-button color="primary" fxFlexOffset="2" fxFlex="23" [disabled]="!accountFormGroup.valid" class="save-btn no-margin">{{'SAVE' | translate}}</button>
                    <!--<div class="text-danger" *ngIf="accountFormGroup.controls.email.touched"> <span *ngIf="accountFormGroup.controls.email.invalid">Enter your email</span> </div>--></div>
            </div>
        </div>
    </form>
    <div *ngIf="!isLoginTypeFb">
        <div class="example-section example-margin">
            <p class="user-text-label-account">{{'WRITE YOUR CURRENT PASSWORD AND THEN INTRODUCE AND CONFIRM THE NEW PASSWORD' | translate}}.</p>
        </div>
        <form [formGroup]="accountPasswordGroup" (ngSubmit)="passwordSave()" novalidate>
            <div class="example-section example-margin">
                <div fxLayout="column" class="form-group" fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column">
                        <label for="" fxLayoutAlign="left center" fxFlex="25">{{'OLD PASSWORD' | translate}}</label>
                        <md-input-container class="md-block register-form-text-area" fxFlex="75" md-no-float>
                            <input mdInput type="password" formControlName="oldpassword" class="user-text-label"> </md-input-container>
                    </div>
                    <div *ngIf="accountPasswordGroup.controls.oldpassword.touched">
                        <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                            <p *ngIf="accountPasswordGroup.controls.oldpassword.invalid" class="error-message">{{'ENTER YOUR OLD PASSWORD (MUST BE 8 CHARACTERS)' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-section example-margin">
                <div fxLayout="column" class="form-group" fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column">
                        <label for="" fxLayoutAlign="left center" fxFlex="25">{{'NEW PASSWORD' | translate}}</label>
                        <md-input-container class="md-block register-form-text-area" fxFlex="75" md-no-float>
                            <input mdInput type="password" formControlName="encryptedpassword" class="user-text-label"> </md-input-container>
                    </div>
                    <div *ngIf="accountPasswordGroup.controls.encryptedpassword.touched">
                        <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                            <p *ngIf="accountPasswordGroup.controls.encryptedpassword.invalid" class="error-message">{{'ENTER YOUR NEW PASSWORD (MUST BE 8 CHARACTERS)' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-section example-margin">
                <div fxLayout="column" class="form-group" fxFlex="100">
                    <div fxLayout="row" fxLayout.xs="column">
                        <label for="" fxLayoutAlign="left center" fxFlex="25">{{'CONFIRM PASSWORD' | translate}}</label>
                        <md-input-container class="md-block register-form-text-area" fxFlex="75" md-no-float>
                            <input mdInput type="password" formControlName="confirmpassword" class="user-text-label" validateEqual="encryptedpassword"> </md-input-container>
                    </div>
                    <div *ngIf="accountPasswordGroup.controls.confirmpassword.touched">
                        <div ng-message="required" fxFlex="100" fxLayoutAlign="right start">
                            <p *ngIf="accountPasswordGroup.hasError('mismatchedPasswords')" class="error-message">{{'PASSWORDS DO NOT MATCH (MUST BE 8 CHARACTERS)' | translate}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-section example-margin" fxFlex="100" fxLayoutAlign="center center">
                <button md-raised-button color="primary" class="creatematch" [disabled]="!accountPasswordGroup.valid">{{'UPDATE PASSWORD' | translate}}</button>
            </div>
        </form>
    </div>
</div>