<div fxLayout="column" class="register-formbox" layout-align="center center" fxLayoutAlign="center center">
    <div fxLayout="column" class="form-block">
        <div class="title-block">
            <h3 class="title-list-items-text">{{ 'PASSWORD RECOVERY' | translate }} </h3>
            <a class="md-icon-button md-accent register-form-button-close" routerLink="/auth">
                <md-icon class="register-form-close-icon">close</md-icon>
            </a>
        </div>
        <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPassword()" fxLayout="column">
            <div *ngIf="error" class="error"> {{error | translate }} </div>
            <div *ngIf="success" class="success"> {{success | translate }} </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="password" class="user-text-label" formControlName="newpassword" [(ngModel)]="newPassword" placeholder="{{'NEW PASSWORD' | translate }}" required> </md-input-container>
                <div>
                    <div ng-message="email" fxLayoutAlign="end start" *ngIf="resetPasswordFormGroup.controls.newpassword.invalid && resetPasswordFormGroup.controls.newpassword.touched">
                        <p class="error-message">{{ 'NEW PASSWORD IS INVALID' | translate }}</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="password" class="user-text-label" formControlName="confirmpassword" [(ngModel)]="confirmPassword" placeholder="{{'CONFIRM PASSWORD' | translate }}" password-validator required> </md-input-container>
                <div *ngIf="resetPasswordFormGroup.hasError('mismatchedPasswords') && resetPasswordFormGroup.controls.confirmpassword.touched" role="alert">
                    <div ng-message="required" fxLayoutAlign="end start">
                        <p class="error-message">{{ 'PASSWORD DID NOT MATCH' | translate }}</p>
                    </div>
                </div>
            </div>
            <button md-raised-button class="md-button-register-form" [disabled]="!resetPasswordFormGroup.valid" type="submit"> {{'RESET' | translate }}</button>
        </form>
    </div>
</div>

<!--

<div layout="column" class="register-form" layout-align="center center" fxLayoutAlign="center center">
    <div class="register-form-div">
        <div fxLayout="row" fxLayoutAlign="end center">
            <a class="md-icon-button md-accent register-form-button-close" routerLink="/auth">
                <md-icon class="register-form-close-icon">close</md-icon>
            </a>
        </div>
        <div>
            <form [formGroup]="resetPasswordFormGroup" (ngSubmit)="resetPassword()">
                <div fxLayout="row" fxLayoutAlign="center start">
                    <p class="title-list-items-text">Reset Password</p>
                </div>
                <div *ngIf="error" class="title-list-items-text error"> {{error}} </div>
                <div *ngIf="success" class="title-list-items-text success"> {{success}} </div>
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="email" class="user-text-label" formControlName="newpassword" [(ngModel)]="newPassword" placeholder="New Password" required> </md-input-container>
                <div>
                    <div ng-message="email" fxLayoutAlign="end start" *ngIf="resetPasswordFormGroup.controls.newpassword.invalid && resetPasswordFormGroup.controls.newpassword.touched">
                        <p class="error-message">New Password is invalid.</p>
                    </div>
                </div>
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="password" class="user-text-label" formControlName="confirmpassword" [(ngModel)]="confirmPassword" placeholder="Confirm Password" password-validator required> </md-input-container>
                <div *ngIf="resetPasswordFormGroup.hasError('mismatchedPasswords') && resetPasswordFormGroup.controls.confirmpassword.touched" role="alert">
                    <div ng-message="required" fxLayoutAlign="end start">
                        <p class="error-message">Password did not match.</p>
                    </div>
                </div>
                <div class="info-container-button-reg-form" fxLayout="row" fxLayoutAlign="center center" fxflex>
                    <button md-button class="md-button-register-form" [disabled]="!resetPasswordFormGroup.valid" type="submit">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <p class="md-button-register-form-text"><em>Reset</em> </p>
                        </div>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
-->