<div fxLayout="column" scroll="no">
    <div fxLayout="column" fxLayoutAlign="start start" class="detail-box">
        <div class="title-list-items">
            <p class="title-list-items-text"> <i class="material-icons">control_point</i> {{'MATCH DETAILS' | translate}}</p>
        </div>
        <div class="find-match-main" fxLayoutAlign="start start">
            <div class="my-from" fxLayout.xs="column" fxLayout="row" style="width:100%;">
                <!--<form>-->
                <div *ngIf="match" fxFlex.xs="100" fxFlex="30" class="form-group">
                    <p class="matchtitle">{{match.sport.title | translate}}</p> <span class="sample-label italic">{{"ORGANIZED BY" | translate}}</span> <span class="sample-label italic">{{match.userid.username}}</span>
                    <div fxLayout="column">
                        <div fxLayout="row" class="matchdetails"> <i class="material-icons">person</i>
                            <label class="sample-label">{{match.subsportid['value']+ ' x ' + match.subsportid['value']}}</label>
                        </div>
                        <div fxLayout="row" class="matchdetails"> <i class="material-icons">perm_contact_calendar</i>
                            <label class="sample-label">{{match.filteredDate}}</label>
                        </div>
                        <div fxLayout="row" class="matchdetails"> <i class="material-icons">location_on</i>
                            <label class="sample-label">{{match.scid.address}}</label>
                        </div>
                        <div fxLayout="row" class="matchdetails"> <i class="material-icons">public</i>
                            <label class="sample-label">public</label>
                        </div>
                        <div fxLayout="row" class="matchdetails">
                            <div fxLayout="row"> <i class="bold">{{match.payment}}</i>
                                <label class="sample-label" *ngIf="match.price">{{match.price}}</label>
                                <label class="sample-label" *ngIf="!match.price">FREE</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-map" fxFlex.xs="100" fxFlex="70" style="background-color:lightpink;height:230px">
                    <div id="nearByMap"></div>
                </div>
            </div>
        </div>
    </div>
    <!--- players -->
    <div fxLayout="column" class="detail-box">
        <!--fxLayoutAlign="start start"-->
        <div class="title-list-items">
            <p class="title-list-items-text"> <i class="material-icons">person_pin</i> {{'PLAYERS' | translate}}</p>
            <button md-raised-button (click)="leaveMatch()" *ngIf="matchleave"> {{'LEAVE' | translate}}</button>
            <button md-raised-button (click)="joinMatchDefault()" *ngIf="matchjoin"> {{'JOIN' | translate}}</button>
        </div>
        <div fxLayoutAilgn="center center">
            <!--style="margin: 10px 0px 15px; width: 100%; text-align: center;"-->
            <p style="font-size:14px; color:#c61315; font-weight:normal;text-align:center;margin: 10px 0px 15px;">{{'Choose your team by clicking on avtar' | translate}}</p>
        </div>
        <div fxLayout.xs="column" fxLayout="row">
            <div fxFlex="50" class="teems border">
                <!--fxLayoutAlign="center center" fxLayout="column" -->
                <h4>Red Arrows</h4>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <!--0 to 5 players at a time-->
                    <div fxLayout="row">
                        <ng-container *ngFor="let player1 of team1player | slice:0:5">
                            <a *ngIf="player1.id!=''; else notplayer1"><img src="{{ player1.profileimg}}"></a>
                            <ng-template #notplayer1>
                                <a *ngIf="player1.clickDisabled"><img src="{{ player1.profileimg}}"></a>
                                <a *ngIf="!player1.clickDisabled" (click)="joinMatch(player1)"><img src="{{ player1.profileimg}}"></a>
                            </ng-template>
                        </ng-container>
                    </div>
                    <!--5 to 10 player-->
                    <div fxLayout="row" style="margin-top:10px">
                        <ng-container *ngFor="let player1 of team1player | slice:5:10">
                            <a *ngIf="player1.id!=''; else notplayer1"><img src="{{ player1.profileimg}}"></a>
                            <ng-template #notplayer1>
                                <a *ngIf="player1.clickDisabled"><img src="{{ player1.profileimg}}"></a>
                                <a *ngIf="!player1.clickDisabled" (click)="joinMatch(player1)"><img src="{{ player1.profileimg}}"></a>
                            </ng-template>
                        </ng-container>
                    </div>
                    <!--10 to 11 player-->
                    <div fxLayout="row" style="margin-top:10px">
                        <ng-container *ngFor="let player1 of team1player | slice:10:11">
                            <a *ngIf="player1.id!=''; else notplayer1"><img src="{{ player1.profileimg}}"></a>
                            <ng-template #notplayer1>
                                <a *ngIf="player1.clickDisabled"><img src="{{ player1.profileimg}}"></a>
                                <a *ngIf="!player1.clickDisabled" (click)="joinMatch(player1)"><img src="{{ player1.profileimg}}"></a>
                            </ng-template>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="benchPlayer1.length>0">
                    <h5>Bench players</h5>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <ng-container *ngFor="let bplayer1 of benchPlayer1">
                            <a *ngIf="bplayer1.id!=''; else notbplayer1"><img src="{{ bplayer1.profileimg}}"></a>
                            <ng-template #notbplayer1>
                                <a (click)="joinMatch(bplayer1)"><img src="{{ bplayer1.profileimg}}"></a>
                            </ng-template>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div fxFlex="50" class="teems">
                <!--fxLayoutAlign="center center" fxLayout="column" -->
                <h4>Blue Hammers</h4>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <!--0 to 5 players at a time-->
                    <div fxLayout="row">
                        <ng-container *ngFor="let player2 of team2player | slice:0:5">
                            <a *ngIf="player2.id!=''; else notplayer2"><img src="{{ player2.profileimg}}"></a>
                            <ng-template #notplayer2>
                                <a *ngIf="player2.clickDisabled"><img src="{{ player2.profileimg}}"></a>
                                <a *ngIf="!player2.clickDisabled" (click)="joinMatch(player2)"><img src="{{ player2.profileimg}}"></a>
                            </ng-template>
                        </ng-container>
                    </div>
                    <!--5 to 10 player-->
                    <div fxLayout="row" style="margin-top:10px">
                        <ng-container *ngFor="let player2 of team2player | slice:5:10">
                            <a *ngIf="player2.id!=''; else notplayer2"><img src="{{ player2.profileimg}}"></a>
                            <ng-template #notplayer2>
                                <a *ngIf="player2.clickDisabled"><img src="{{ player2.profileimg}}"></a>
                                <a *ngIf="!player2.clickDisabled" (click)="joinMatch(player2)"><img src="{{ player2.profileimg}}"></a>
                            </ng-template>
                        </ng-container>
                    </div>
                    <!--5 to 10 player-->
                    <div fxLayout="row" style="margin-top:10px">
                        <ng-container *ngFor="let player2 of team2player | slice:10:11">
                            <a *ngIf="player2.id!=''; else notplayer2"><img src="{{ player2.profileimg}}"></a>
                            <ng-template #notplayer2>
                                <a *ngIf="player2.clickDisabled"><img src="{{ player2.profileimg}}"></a>
                                <a *ngIf="!player2.clickDisabled" (click)="joinMatch(player2)"><img src="{{ player2.profileimg}}"></a>
                            </ng-template>
                        </ng-container>
                    </div>
                </div>
                <div *ngIf="benchPlayer2.length>0">
                    <h5>Bench players</h5>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <ng-container *ngFor="let bplayer2 of benchPlayer2">
                            <a *ngIf="bplayer2.id!=''; else notbplayer2"><img src="{{ bplayer2.profileimg}}"></a>
                            <ng-template #notbplayer2>
                                <a (click)="joinMatch(bplayer2)"><img src="{{ bplayer2.profileimg}}"></a>
                            </ng-template>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout.xs="column" fxLayout="row">
        <!-- chat -->
        <div fxFlex="48" class="detail-box chat-box">
            <div class="title-list-items">
                <p class="title-list-items-text"> <i class="material-icons">chat_bubble_outline</i> {{'CHAT' | translate}}</p>
            </div>
            <div>
                <div class="form-group">
                    <!--<md-input-container class="md-block register-form-text-area" fxFlex="100" md-no-float>
                        <textarea mdInput class="user-text-label"> </textarea>
                    </md-input-container>-->
                    <div id="main-chat-box" class="chat-list">
                        <ul *ngFor="let item of chat">
                            <li *ngIf="item.fromuserid.id != user.id"><img class="avatar" src="{{PROFILE_IMAGE_PATH+item.fromuserid.profileimage}}" onError="this.onerror=null;this.src='assets/img/sidebar_photo.png';" /> <span class="msg">{{item.message}}</span>
                            </li>
                            <li *ngIf="item.fromuserid.id == user.id" class="text-to-right"><img class="avatar" align="right" src="{{PROFILE_IMAGE_PATH+item.fromuserid.profileimage}}" onError="this.onerror=null;this.src='assets/img/sidebar_photo.png';" /><span class="msg2">{{item.message}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <md-input-container class="md-block register-form-text-area bordered" fxFlex="100" md-no-float>
                        <input mdInput [(ngModel)]="chatString" (keyup.enter)="sendMessage()" class="user-text-label">
                        <a href="javascript:void(0);" (click)="sendMessage()"><i class="material-icons ng-scope">send</i></a>
                    </md-input-container>
                </div>
            </div>
        </div>
        <!-- Invitation -->
        <div fxFlexOffset.xs="0" fxFlexOffset="4" fxFlex="48" class="detail-box chat-box">
            <div class="title-list-items">
                <p class="title-list-items-text"> <i class="material-icons">chat</i> {{'INVITATION' | translate}}</p>
            </div>
            <div *ngIf="!disableInvitation">
                <!--<div class="form-group">
                    <md-input-container>
                        <input type="text" mdInput [(ngModel)]="searchPlayer" [mdAutocomplete]="auto" (input)="loadAutoComplete()" (keyup.enter)="itemSelected()"> </md-input-container>
                    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
                        <md-option *ngFor="let p of players" [value]="p" (change)="itemSelected()" (click)="itemSelected()" (keyup.enter)="itemSelected()">
                            <div> <img class="thumb-circle" src="{{PROFILE_IMAGE_PATH+p.profileimage}}"><span>{{ p.firstname +' ' + p.lastname }}</span> </div>
                        </md-option>
                    </md-autocomplete>
                </div>
                <div fxLayout="row" class="chipbox">
                    <md-chip-list *ngFor="let p of selectedPlayer; let i = index">
                        <md-chip (click)="removeInvites(i)">
                            <img class="avatar" src="{{PROFILE_IMAGE_PATH+p.profileimage}}" /> <label>{{p.firstname}}</label>
                            <a href="javascript:void(0)" (click)="removeInvites(i)">×</a></md-chip>
                    </md-chip-list>
                </div>-->
                <div class="select-box">
                    <select id="tokenize-demo" class="tokenize-demo" multiple>
					
				</select>
                </div>
            </div>

            <div class="form-group" style="text-align: center;" *ngIf="!disableInvitation">
                <button md-raised-button [disabled]="tokenLenght==0" (click)="promptForSendInvitation()">{{'SEND INVITATIONS' | translate}}</button>
            </div>
            <div class="invite" *ngIf="!disableInvitation">
                <p>{{'YOUR FRIEND ARE NOT ON TEEM YET? INVITE THEM TO PLAY!' | translate}}</p>
                <div fxLayoutAlign="center center" fxLayout="row" style="width:100%;">
                    <a href="javascript:void(0)" (click)="socialShare('facebook')"><img height="36" width="36" src="/assets/img/facebook-circle.png" /> </a>
                    <a href="javascript:void(0)" (click)="socialShare('twitter')"><img height="36" width="36" src="/assets/img/twitter.png" /> </a>
                    <a [href]="sanitizedWhatsappUrl" data-action="share/whatsapp/share" *ngIf="isMobile"><img height="36" width="36" src="/assets/img/whatsapp.png" /></a>
                    <a [href]="sanitizedTelegramUrl" *ngIf="isMobile"><img height="36" width="36" src="/assets/img/telegram.png" /></a>
                    <a [href]="sanitizedFacebookMessangerUrl" *ngIf="isMobile"><img height="36" width="36" src="/assets/img/fbmsg.png" /></a>
                    <a [href]="sanitizedEmailUrl"><i class="material-icons" style="color:#333">email</i> </a>
                    <!--<a href="tg://msg?text=linkToShare" *ngIf="isMobile"><img height="36" width="36" src="/assets/img/telegram.png" /></a>-->
                    <!--<a href="whatsapp://send?text=linkToShare" data-action="share/whatsapp/share" *ngIf="isMobile"><img height="36" width="36" src="/assets/img/whatsapp.png" /></a>-->
                    <!--<a href="fb-messenger://share/?link={{linkToShare}}&app_id=fbAppId" *ngIf="isMobile"><img height="36" width="36" src="/assets/img/fbmsg.png" /></a>-->
                </div>
            </div>
            <div fxLayout="column" class="div-center" *ngIf="disableInvitation">
                <label fxFlex="100">Thank you for using Teem.</label>
            </div>
        </div>
    </div>
</div>