<div fxLayout="column">
    <div fxLayout="column" fxLayoutAlign="start start" class="detail-box">
        <div class="title-list-items">
            <p class="title-list-items-text"> <i class="material-icons">control_point</i> {{'MATCH DETAILS' | translate}}</p>
        </div>
        <div class="find-match-main" fxLayoutAlign="start start">
            <div class="my-from" fxLayout.xs="column" fxLayout="row" style="width:100%;">
                <!--<form>-->
                <div *ngIf="match" fxFlex.xs="100" fxFlex="30" class="form-group">
                    <p class="matchtitle">{{match.sport.title | translate}}</p> <span class="sample-label italic">{{"ORGANIZED BY" | translate}}</span> <span class="sample-label italic">{{match.userid.username}}</span>
                    <div fxLayout="column">
                        <div fxLayout="row" class="matchdetails"> <i class="material-icons">person</i>
                            <label class="sample-label">{{match.subsportid['value']+ ' x ' + match.subsportid['value']}}</label>
                        </div>
                        <div fxLayout="row" class="matchdetails"> <i class="material-icons">perm_contact_calendar</i>
                            <label class="sample-label">{{match.filteredDate}}</label>
                        </div>
                        <div fxLayout="row" class="matchdetails"> <i class="material-icons">location_on</i>
                            <label class="sample-label">{{match.scid.address}}</label>
                        </div>
                        <div fxLayout="row" class="matchdetails"> <i class="material-icons">public</i>
                            <label class="sample-label">Public</label>
                        </div>
                        <div fxLayout="row" class="matchdetails" *ngIf="match.price">
                            <div fxLayout="row"> <i class="material-icons">attach_money</i>
                                <label class="sample-label">{{match.price}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-map" fxFlex.xs="100" fxFlex="70" style="background-color:lightpink;height:230px">
                    <div id="nearByMap"></div>
                </div>
            </div>
        </div>
    </div>
    <!--- players -->
    <div fxLayout="column" class="detail-box">
        <!--fxLayoutAlign="start start"-->
        <div class="title-list-items">
            <p class="title-list-items-text"> <i class="material-icons">person_pin</i> {{'PLAYERS' | translate}}</p>
            <button md-raised-button (click)="leaveMatch()" *ngIf="matchleave"> {{'LEAVE' | translate}}</button>
            <button md-raised-button (click)="leaveMatch()" *ngIf="matchjoin"> {{'JOIN' | translate}}</button>
        </div>
        <div fxLayoutAilgn="center center">
            <!--style="margin: 10px 0px 15px; width: 100%; text-align: center;"-->
            <p style="font-size:14px; color:#c61315; font-weight:normal;text-align:center;margin: 10px 0px 15px;">{{'Choose your team by clicking on avtar' | translate}}</p>
        </div>
        <div fxLayout.xs="column" fxLayout="row">
            <div fxFlex="50" class="teems border">
                <!--fxLayoutAlign="center center" fxLayout="column" -->
                <h4>Red Arrows</h4>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <ng-container *ngFor="let player1 of team1player">
                        <a *ngIf="player1.id!=''; else notplayer1"><img src="{{ player1.profileimg}}"></a>
                        <ng-template #notplayer1>
                            <a (click)="joinMatch(player1)"><img src="{{ player1.profileimg}}"></a>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
            <div fxFlex="50" class="teems">
                <!--fxLayoutAlign="center center" fxLayout="column" -->
                <h4>Blue Hammers</h4>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <ng-container *ngFor="let player2 of team2player">
                        <a *ngIf="player2.id!=''; else notplayer2"><img src="{{ player2.profileimg}}"></a>
                        <ng-template #notplayer2>
                            <a (click)="joinMatch(player2)"><img src="{{ player2.profileimg}}"></a>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout.xs="column" fxLayout="row">
        <!-- chat -->
        <div fxFlex="48" class="detail-box chat-box">
            <div class="title-list-items">
                <p class="title-list-items-text"> <i class="material-icons">chat_bubble_outline</i> {{'CHAT' | translate}}</p>
            </div>
            <div>
                <div class="form-group">
                    <md-input-container class="md-block register-form-text-area" fxFlex="100" md-no-float>
                        <textarea mdInput class="user-text-label"> </textarea>
                    </md-input-container>
                </div>
                <div class="form-group">
                    <md-input-container class="md-block register-form-text-area" fxFlex="100" md-no-float>
                        <input mdInput class="user-text-label">
                        <a href="#"><i class="material-icons ng-scope">send</i></a>
                    </md-input-container>
                </div>
            </div>
        </div>
        <!-- Invitation -->
        <div fxFlexOffset.xs="0" fxFlexOffset="4" fxFlex="48" class="detail-box chat-box">
            <div class="title-list-items">
                <p class="title-list-items-text"> <i class="material-icons">chat</i> {{'Invitation' | translate}}</p>
            </div>
            <div>
                <div class="form-group">
                    <md-input-container>
                        <input type="text" mdInput [(ngModel)]="searchPlayer" [mdAutocomplete]="auto" (input)="loadAutoComplete()" (keyup.enter)="itemSelected()"> </md-input-container>
                    <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn">
                        <md-option *ngFor="let p of players" [value]="p" (change)="itemSelected()" (click)="itemSelected()" (keyup.enter)="itemSelected()">
                            <div> <img class="thumb-circle" src="{{PROFILE_IMAGE_PATH+p.profileimage}}"><span>{{ p.firstname +' ' + p.lastname }}</span> </div>
                        </md-option>
                    </md-autocomplete>
                </div>
                <div fxLayout="row" class="chipbox">
                    <md-chip-list color="primary" *ngFor="let p of selectedPlayer; let i = index">
                        <md-chip (click)="removeInvites(i)">
                            <img class="avatar" src="{{PROFILE_IMAGE_PATH+p.profileimage}}" /> <label>{{p.firstname}}</label>
                            <a href="javascript:void(0)" (click)="removeInvites(i)">×</a></md-chip>
                    </md-chip-list>
                </div>
            </div>
            <div class="form-group" style="text-align: center;">
                <button md-raised-button (click)="sendInvitations()">{{'SEND INVITATIONS' | translate}}</button>
            </div>
            <div class="invite">
                <p>{{'YOUR FRIEND ARE NOT ON TEEM YET? INVITE THEM TO PLAY!' | translate}}</p>
                <div fxLayoutAlign="center center" fxLayout="row" style="width:100%;">
                    <a href="#"><i class="material-icons">email</i> </a>
                    <a href="#"><i class="material-icons">email</i> </a>
                    <a href="#"><i class="material-icons">email</i> </a>
                </div>
            </div>
        </div>
    </div>
</div>