<!--<md-toolbar fxFlex="100%" class="header-tall header-toolbar">
	<button md-button (click)="sidenav.open()" class="toggle-btn">
      Hello
    </button>-->
  <div fxLayout="row" fxLayoutAlign="start center">
    <a>
      <img src="/assets/img/logo-1x.png" class="header-logo">
    </a>
  </div>
  <section fxLayout="row" fxLayoutAlign="center center" fxFlex="80%" class="header-tall">
    <div fxFlexAlign="center" class="header-nav">
      <!--<nav md-tab-nav-bar>
                <a md-tab-link  routerLink="" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">HOME</a>
                <a md-tab-link  routerLink="" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">FIND MATCH</a>
                <a md-tab-link  routerLink="" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">TOURNAMENTS</a>
            </nav>-->

      <nav md-tab-nav-bar>
        <a md-tab-link *ngFor="let link of navLinks" [routerLink]="link.link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          <!--{{tabLink.label}}-->
          {{link.title}}
        </a>
        <a href="#" class="email_link"><img src="/assets/img/email.png"></a>
        <a href="#" class="last_link" [mdMenuTriggerFor]="menu"><img src="/assets/img/player-boy.png"></a>
        <md-menu class="user-menu" #menu="mdMenu">
          <button md-menu-item disabled>
						<span>Profile</span>
  					</button>
          <button md-menu-item (click)="logout()">
						<span>Logout</span>
					</button>
        </md-menu>
      </nav>

      <!--<md-tab-group>
                <md-tab label="One" routerLink="/link">
                </md-tab>
                <md-tab label="Two">
                </md-tab>
            </md-tab-group>-->
    </div>
  </section>
<!--</md-toolbar>-->
