<div fxLayout="column" class="register-formbox" layout-align="center center" fxLayoutAlign="center center">
    <div fxLayout="column" class="form-block">
        <div class="title-block">
            <h3 class="title-list-items-text"> {{ 'PASSWORD RECOVERY' | translate }} </h3>
            <a class="md-icon-button md-accent register-form-button-close" routerLink="/auth">
                <md-icon class="register-form-close-icon"> close </md-icon>
            </a>
        </div>
        <form [formGroup]="forgotFormGroup" (ngSubmit)="resetRequest()" fxLayout="column">
            <div *ngIf="error" class="error"> {{error}} </div>
            <div *ngIf="success" class="success"> {{ success | translate }} </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="email" formControlName="email" [(ngModel)]="email" placeholder="{{ 'EMAIL' | translate }}" lowercase required> </md-input-container>
                <div *ngIf="forgotFormGroup.controls.email.invalid && forgotFormGroup.controls.email.touched">
                    <div ng-message="email" fxLayoutAlign="end start">
                        <p class="error-message"> {{ 'EMAIL IS INVALID' | translate }} </p>
                    </div>
                </div>
            </div>
            <button md-raised-button class="md-button-register-form" [disabled]="!forgotFormGroup.valid" type="submit"> {{ 'SEND' | translate }}</button>
        </form>
    </div>
</div>

<!--
<div layout="column" class="register-form" layout-align="center center" fxLayoutAlign="center center">
    <div class="register-form-div">
        <div fxLayout="row" fxLayoutAlign="end center">
            <a class="md-icon-button md-accent register-form-button-close" routerLink="/auth">
                <md-icon class="register-form-close-icon">close</md-icon>
            </a>
        </div>
        <div>
            <form [formGroup]="forgotFormGroup" (ngSubmit)="resetRequest()">
                <div fxLayout="row" fxLayoutAlign="center start">
                    <p class="title-list-items-text">Password Recovery</p>
                </div>
                <div *ngIf="error" class="error"> {{error}} </div>
                <div *ngIf="success" class="success"> {{success}} </div>
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="email" formControlName="email" [(ngModel)]="email" placeholder="Email" lowercase required> </md-input-container>
                <div *ngIf="forgotFormGroup.controls.email.invalid && forgotFormGroup.controls.email.touched">
                    <div ng-message="email" fxLayoutAlign="end start">
                        <p class="error-message">Email is invalid.</p>
                    </div>
                </div>
                <div class="info-container-button-reg-form" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                    <button md-button class="md-button-register-form" type="submit" [disabled]="!forgotFormGroup.valid">
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <p class="md-button-register-form-text"><em>SEND</em> </p>
                        </div>
                    </button>
                    <div ng-show="error" class="text-center text-danger"> <strong ng-bind="error"></strong> </div>
                    <div ng-show="success" class="text-center text-success"> <strong ng-bind="success"></strong> </div>
                </div>
            </form>
        </div>
    </div>
</div>-->