<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign.xs="start start" class="main-container">
    <div fxLayout="column" fxFlex="48" fxLayoutAlign="start start" class="detail-box">
        <div class="title-list-items">
            <p class="title-list-items-text"> <i class="material-icons">search</i> {{'USERS' | translate}}</p>
        </div>
        <div fxLayout="row" class="detail-listing">
            <!--Users-->
            <md-list fxFlex.xs="80">
                <md-list-item *ngFor="let user of users">
                    <img md-list-avatar onError="this.onerror=null;this.src='assets/img/sidebar_photo.png';" src="{{profileImageBaseUrl + user.profileimage}}" alt="... " (click)="navigateToUserProfile(user)">
                    <h3 md-line class="ellipse" (click)="navigateToUserProfile(user)"> {{user.username}} </h3>
                    <p md-line><span class="demo-2 ellipse" (click)="navigateToUserProfile(user)"> {{user.city}} </span></p>
                    <label md-button md-line md-button color="primary" class="bordered-btn following-btn" *ngIf="followers.indexOf(user.id)!= -1 && user.id!=userid" (click)="unFollow(user.id)">{{ 'FOLLOWING' | translate }}</label>
                    <label md-button md-line md-button color="primary" class="bordered-btn following-btn" *ngIf="followers.indexOf(user.id) == -1 && user.id!=userid" (click)="followUser(user.id)">{{ 'FOLLOW' | translate }}</label>
                </md-list-item>
            </md-list>
        </div>
    </div>
    <div fxFlex="2">
    </div>
    <div fxLayout="column" fxFlex="48" fxLayoutAlign="start start" class="detail-box ">
        <div class="title-list-items">
            <p class="title-list-items-text "> <i class="material-icons ">search</i> {{'SPORT CENTRES' | translate}}</p>
        </div>
        <div fxLayout="row" class="detail-listing ">
            <!--SPORT CENTRE-->
            <md-list fxFlex.xs="80">
                <md-list-item *ngFor="let sc of sportCentres">
                    <img *ngIf="sc.userid" md-list-avatar onError="this.onerror=null;this.src='assets/img/sidebar_photo.png';" src="{{profileImageBaseUrl + sc.userid.profileimage}}" (click)="navigationToSc(sc)" alt="... ">
                    <img *ngIf="!sc.userid" md-list-avatar src='assets/img/sidebar_photo.png' alt="... " (click)="navigationToSc(sc)">
                    <h3 md-line class="ellipse" (click)="navigationToSc(sc)"> {{sc.name}} </h3>
                    <p md-line>
                        <span class="demo-2 ellipse" (click)="navigationToSc(sc)"> {{sc.address}} </span>
                    </p>
                    <label md-line md-raised-button color="primary" class="bordered-btn following-btn" *ngIf="scfollowers.indexOf(sc.id)!= -1" (click)="unFollowSc(sc.id)">{{ 'FOLLOWING' | translate }}</label>
                    <label md-line md-raised-button color="primary" class="bordered-btn following-btn" *ngIf="scfollowers.indexOf(sc.id) == -1" (click)="followSc(sc.id)">{{ 'FOLLOW' | translate }}</label>
                </md-list-item>
            </md-list>
        </div>
    </div>
</div>