<div fxLayout="column" class="detail-box" *ngIf="following.length>0">
    <div *ngIf="!isMobile" class="followers-grid">
        <md-grid-list gutterSize="10px" cols="3" rowHeight="16:5">
            <div *ngFor="let follow of following">
                <md-grid-tile>
                    <img src="{{profileImageBaseUrl+follow.followinguserid.profileimage}}" class="followers-img" />
                    <div class="follower-info">
                        <label>{{follow.followinguserid.username}}</label>
                        <label class="giveMeEllipsis">{{follow.followinguserid.city}}</label>
                    </div>
                </md-grid-tile>
            </div>
        </md-grid-list>
    </div>
    <div *ngIf="isMobile" class="followers-grid">
        <md-grid-list gutterSize="10px" cols="1" rowHeight="16:5">
            <div *ngFor="let follow of following">
                <md-grid-tile>
                    <img src="{{profileImageBaseUrl+follow.followinguserid.profileimage}}" class="followers-img" />
                    <div class="follower-info">
                        <label>{{follow.followinguserid.username}}</label>
                        <label class="giveMeEllipsis">{{follow.followinguserid.city}}</label>
                    </div>
                </md-grid-tile>
            </div>
        </md-grid-list>
    </div>
</div>