<div fxLayout="column" class="register-formbox" layout-align="center center" fxLayoutAlign="center center">
    <div fxLayout="column" class="form-block" >
        <div class="title-block">
            <h3 class="title-list-items-text">Log in</h3>
            <a class="md-icon-button md-accent register-form-button-close" routerLink="/auth">
                <md-icon class="register-form-close-icon">close</md-icon>
            </a>
        </div>
        <form [formGroup]="userFormGroup" (ngSubmit)="userLogin()" fxLayout="column">
            <div *ngIf="error" class="error"> {{error}} </div>
            <div *ngIf="success" class="success"> {{success}} </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput class="user-text-label" formControlName="email" [(ngModel)]="email" placeholder="Email" required> </md-input-container>
                <div *ngIf="userFormGroup.controls.email.invalid && userFormGroup.controls.email.touched">
                    <div ng-message="required" fxLayoutAlign="end start">
                        <p class="error-message">Email is invalid</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput type="password" name="password" class="user-text-label" placeholder="Password" formControlName="password" [(ngModel)]="password"> </md-input-container>
                <div *ngIf="userFormGroup.controls.password.invalid && userFormGroup.controls.password.touched" role="alert">
                    <div ng-message="required" fxLayoutAlign="end start">
                        <p class="error-message">Enter your password.</p>
                    </div>
                    <div ng-repeat="passwordError in passwordErrors" fxLayoutAlign="end start">
                        <p class="help-block error-text">{{passwordError}}</p>
                    </div>
                </div>
            </div>
            <button md-raised-button class="md-button-register-form" [disabled]="!userFormGroup.valid" type="submit"> LOG IN </button>
            <button md-raised-button class="md-button-forgotten-pass" routerLink="/auth/forgot-password">
                <p class="register-form-text-label-pass">Forgotten Password?</p>
            </button>
        </form>
    </div>
</div>