<head>
    <title>Place Autocomplete</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8"> </head>
<div fxLayout="column" class="addsportcenter">
    <div class="title-list-items">
        <p class="title-list-items-text"> <i class="material-icons">control_point</i> add-new-sportscenter works!</p>
    </div>
    <div fxLayout.xs="column" fxLayout="row">
        <form fxFlex.xs="100" fxFlex="40" [formGroup]="sportsCenterFormGroup">
            <div *ngIf="error" class="error"> {{error}} </div>
            <div *ngIf="success" class="success"> {{success}} </div>
            <input #myaddress id="pac-input" class="controls" formControlName="address" type="text" placeholder="Search Box" [(ngModel)]="address">
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput class="user-text-label" formControlName="name" [(ngModel)]="name" placeholder="Name" required> </md-input-container>
                <div *ngIf="sportsCenterFormGroup.controls.name.invalid && sportsCenterFormGroup.controls.name.touched">
                    <div ng-message="required" fxLayoutAlign="start start">
                        <p class="error-message">Email is invalid</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput class="user-text-label" formControlName="phone" [(ngModel)]="phone" placeholder="Phone" required> </md-input-container>
                <div *ngIf="sportsCenterFormGroup.controls.phone.invalid && sportsCenterFormGroup.controls.phone.touched">
                    <div ng-message="required" fxLayoutAlign="start start">
                        <p class="error-message">Phone is invalid</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <md-input-container class="md-block register-form-text-area" md-no-float>
                    <input mdInput class="user-text-label" formControlName="description" [(ngModel)]="description" placeholder="Description" required> </md-input-container>
                <div *ngIf="sportsCenterFormGroup.controls.description.invalid && sportsCenterFormGroup.controls.description.touched">
                    <div ng-message="required" fxLayoutAlign="start start">
                        <p class="error-message">Description is invalid</p>
                    </div>
                </div>
            </div>
            <div *ngIf="message"> {{message}} </div>
            <!-- submit button -->
            <button *ngIf="!sub" md-raised-button class="md-button-register-form" [disabled]="!sportsCenterFormGroup.valid" (click)="addSportsCenter()" type="submit">
                <p class="md-button-register-form-text"><em>Submit</em> </p>
            </button>
            <!-- update button -->
            <div *ngIf="sub" class="info-container-button-reg-form" fxLayout="row" fxLayoutAlign="center center" fxFlex>
                <button md-button class="md-button-register-form" [disabled]="!sportsCenterFormGroup.valid" (click)="updateSportsCenter()" type="submit">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <p class="md-button-register-form-text"><em>Update</em> </p>
                    </div>
                </button>
            </div>
        </form>
        <div fxFlex.xs="100" fxFlex="60" id="map"></div>
    </div>
</div>