:host {
        display: block;
        height: 100%;
        width: 100%;
        // background-color:lightcoral;
}

.main {
        margin-top: 10%;
        margin-left: 5%;
        width: 50%;
        align-content: center;
        text-align: center;
        form{
          align-content: center;
        text-align: center;
        }
        #map {
        height: 300px;
        width: 600px;
        align-content: center;
        text-align: center;
      }
      /* Optional: Makes the sample page fill the window. 
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }*/
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }




      .register-form {
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
                -webkit-transition: all linear 0.5s;
                transition: all linear 0.5s;
                text-align: center;
    }
    .register-form-div {
                width: 80%;
                height: auto;
                background-color: #f4f4f4;
                border-radius: 10px;
    }
    .register-form-text-label-pass {
        font-size: 11px;
        margin-left: 5px;
        color: #000;
        margin-top: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .facebook-div-button {
        height: 100%;
    }

    .title-list-items-text {
        color: #c61315;
        font-weight: bold;
        margin-bottom: 2px;
    }

    .register-form-text-label {
        font-size: 11px;
        margin-left: 5px;
        color: #000;
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 30px;
    }

    .register-form-text-area {
        /*height: 30px;
        background-color: #fff;
        border-radius: 10px;
        margin-bottom: 10px;*/
        /*margin-left: 30px;*/
        width: 80%;
    }

    .error-message {
        font-size: 11px;
        margin-left: 30px;
        color: #c61315;
        font-weight: bold;
    }


    /*   for overriding material design components */
    .md-button-register-form {
        width: 70%;
        background-color: #c61315;
        color: #fff;
        margin-bottom: 0px;
        text-align: center;
    }

    .md-button-register-form-text {
        width: auto;
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .info-container-button-reg-form {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .md-button-forgotten-pass {
        text-transform: capitalize !important;
        margin: 6px 8px;
    }
    .md-input-container .md-input {
        border-width: 0px;
    }
    .mat-fab, .mat-mini-fab {
        background-color: transparent; 
        color: transparent;
    }
    .md-icon-button {
        margin: 0 6px;
        height: 40px;
        min-width: 0;
        line-height: 24px;
        padding: 8px;
        width: 40px;
        border-radius: 50%;
    }
}