<input #inputFil type="file" name="" value="" id="file" (change)="getImage($event)" style="display: none;">
<button md-raised-button class="btn-choose-file" (click)="inputFil.click()">Choose File</button>
<div class="containerr">
    <h5>Upload Your Photo here</h5>
    <div class="row">
        <div class="col col-6">
            <img id="image" [src]="sanitizer.bypassSecurityTrustResourceUrl(imgSrc)" alt="Picture">
        </div>
        <div class="col col-3">
            <div class="preview"></div>
        </div>
        <div class="col col-2">
            <div class="preview"></div>
        </div>
        <div class="col col-1">
            <div class="preview"></div>
        </div>
        <button md-raised-button class="butn" type="button" (click)="onCropperPopupDone()">Done</button>
    </div>
</div>